@font-face {
    font-family: ADELIA;
    src: url(ADELIA.otf);
}

@font-face {
    font-family: Poppins;
    src: url(Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Winkle;
    src: url(Winkle-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Italics;
    src: url(Poppins/Poppins-Italic.ttf);
}

body {
    background-color: black;
    color: white;

    font: normal 16px 'Poppins';

    padding-left: 10px;

    padding-right: 10px;
}

a {
    color: #F9EEC9;
}

a:hover {
    color: #E4B455;
}

@media screen {
    .pizza-container table {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    
        table-layout: fixed;

        width: 100%;
    }
    
    .pizza-container table tr td {
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: text-top;
    
        width: 25%;
        min-width: 1px;
    }
}

.pizza-container table td img {
    object-fit: contain;

    width: 100%;
}

.title-1 {
    text-align: center;
    color: orange;

    font-family: 'ADELIA';

    text-decoration: underline;

    margin-bottom: 5% ;
}

.pizza-container {
    background-color: #90a74c;

    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 20px;
}

.header-1 {
    font: normal 40px 'Winkle';
    background-color: #B4000F;
    color: white;

    padding: 15px;
}

.pizza-name {
    color: #B4000F;
    font: normal 30px 'Winkle';

    padding-top: 20px;
    padding-bottom: 20px;
}

.button-1 {
    font: normal 20px 'Winkle';

    color: white;

    background-color: green;

    border: 0;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;

    overflow: hidden;
}

.button-1:hover {
    color: black;
}

.link-1 a {
    text-align: center;
}

.link-2 {
    text-align: center;
    font: normal 16px 'Poppins-Italics';
}